.navbar-option {
    width: 100vw;
    background-color: rgba(219, 219, 219, 0.597);
    backdrop-filter: blur(15px);
    position: fixed;
    left: 0px;
    right: 0;
    height: 100vh;
    top: 72px;
    box-sizing: border-box;
    z-index: 7000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 20px 10px;
}

.no-style {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.navbar-option .menu-item {
    min-height: 320px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 23px;
    margin-left: 45px;
    /* gap: 30px; */
}

.navbar-option .menu-item ul {
    transition: all ease-in-out 0.4s;
}

.navbar-option .menu-item ul li {
    font-size: 18px;
    display: none;
    transition: all ease-in-out 0.4s;
}

.navbar-option .menu-item ul:hover li {
    display: block;
}

.navbar-option .menu-item li {
    margin-right: 20px;
    list-style: none;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

.navbar-option .menu-item li:hover {
    color: rgb(0, 72, 135);
    transform: translateX(-3px);
}
