.product-container {
    width: 80vw;
    margin: 20px auto 30px 200px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    z-index: -1;
    min-height: 100vh;
}

.product-container .add-product .title {
    width: 98%;
    height: 27px;
    outline-color: rgb(0, 134, 116);
    padding-left: 12px;
    margin-bottom: 30px;
}

.product-container .submit {
    right: 50px;
    padding: 7px 20px;
    border: none;
    background: #000;
    color: #fff;
    z-index: 30;
    cursor: pointer;
    margin-bottom: 30px;
}

.product-container .gallery-image {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid rgb(206, 206, 206);
    min-height: 120px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-container .gallery-image button {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.product-container .category {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid rgb(192, 192, 192);
    padding: 30px;
}

.product-container .category select {
    margin-bottom: 20px;
}